apiVersion: v1
kind: Service
metadata:
  name: secureguard-drift
  namespace: secureguard-drift
  labels:
    app: secureguard-drift
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
  selector:
    app: secureguard-drift
