apiVersion: v1
kind: Service
metadata:
  name: {{ include "secureguard-drift.fullname" . }}
  labels:
    {{- include "secureguard-drift.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    {{- include "secureguard-drift.selectorLabels" . | nindent 4 }}
